    <div class="min-h-screen flex items-center"> 
        <div class="bg-white w-full max-w-lg rounded-lg shadow overflow-hidden mx-auto h-64 flex items-center flex-col">
            <div class="mt-1 justify-center font-bold text-9xl font-black flex space-x-0">
                404
            </div>
            <div class="mt-1 text-center text-gray-600 text-4xl fontsforweb_fontid_5903">
                Produto não encontrado!
            </div><br>
            <a href="/" class="rounded py-2 px-4 bg-green-500 text-white shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
                Voltar para o início
              </a>
        </div> 
    </div>