<header class="text-center mt-20 mb-20 flex justify-center items-center text-8xl">
  <div>
    <h1 class="text-5xl">Loja virtual</h1>
    <h2 class="text-lg mt-2">Onde você gasta e eu lucro</h2>
  </div>
  <i class="uil uil-shopping-cart"></i>
</header>

    <div class="flex items-center">
        <div class="bg-white w-full max-w-lg rounded-lg shadow overflow-hidden mx-auto">
            <div class="mt-1 text-center text-gray-600 text-4xl p-6">
                Selecione um produto!
                <div class="flex items-center">
                  <a class="flex-1 p-4" href="/?mercadoria=sofa">
                    <img src="/views/images/sofa.jpg" alt="Sofá">
                  </a>
                  <a class="flex-1 p-4" href="/?mercadoria=mesa">
                    <img src="/views/images/mesa.jpg" alt="Mesa">
                  </a>
                </div>
            </div>
        </div> 
    </div>